################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FrameworkComparisonAPI/obj
/FrameworkComparisonAPI/bin/Debug/netcoreapp2.2
